.branding-below {
  bottom: 30px;
  top: 0;
}

$prefix: 'minizinc-embedded';

.sidebar {
  display: flex;
  flex-direction: column;
}

.minizinc-dialog {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-info {
  position: relative;
  flex: 1 1 0;
  overflow: auto;
}

.buttons {
  text-align: center;
}

#sync {
  position: absolute;
  right: 0;
  top: -10px;
  z-index: 1000;
  font-size: x-small;
}

.advanced-settings {
  input {
    width: 100%;
  }

  .form-group + .form-group {
    margin-left: 0.5em;
  }
}

.advanced-settings-elems {
  display: flex;
}
