$prefix: 'minizinc-embedded';

.#{$prefix}-container {
  display: flex;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;

  // &::before {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   content: '';
  //   background: url('./assets/minizinc.svg');
  //   background-position: center center;
  //   background-size: 1.2em;
  //   background-repeat: no-repeat;
  //   opacity: 0.25;
  // }

  > form {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
  }

  .#{$prefix}-hidden {
    display: none;
  }
}

.#{$prefix}-iframe {
  position: absolute;
  left: -10000px;
  top: -10000px;
  width: 1px;
  height: 1px;
}

.#{$prefix}-model {
  min-height: 7em;
  resize: vertical;
}

.#{$prefix}-data {
  border-top: 1px solid black;
  min-height: 4em;
  resize: vertical;
}

.#{$prefix}-output {
  border-top: 1px solid black;
  min-height: 5em;
  resize: vertical;
}

.#{$prefix}-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;

  > * {
    margin-left: 0.25em;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &.#{$prefix}-simple > :not(button) {
    display: none;
  }

  &:not(:hover) > :not(button) {
    opacity: 0;
  }
}

.#{$prefix}-abort {
  display: none;
}

// BASED on https://loading.io/css

.#{$prefix}-loading {
  display: none;
  position: absolute;
  pointer-events: none;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  width: 64px;
  height: 64px;

  div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #cef;
    animation: #{$prefix}-animation 1.2s linear infinite;

    &:nth-child(1) {
      top: 6px;
      left: 6px;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      top: 6px;
      left: 26px;
      animation-delay: -0.4s;
    }

    &:nth-child(3) {
      top: 6px;
      left: 45px;
      animation-delay: -0.8s;
    }

    &:nth-child(4) {
      top: 26px;
      left: 6px;
      animation-delay: -0.4s;
    }

    &:nth-child(5) {
      top: 26px;
      left: 26px;
      animation-delay: -0.8s;
    }

    &:nth-child(6) {
      top: 26px;
      left: 45px;
      animation-delay: -1.2s;
    }

    &:nth-child(7) {
      top: 45px;
      left: 6px;
      animation-delay: -0.8s;
    }

    &:nth-child(8) {
      top: 45px;
      left: 26px;
      animation-delay: -1.2s;
    }

    &:nth-child(9) {
      top: 45px;
      left: 45px;
      animation-delay: -1.6s;
    }
  }
}

@keyframes #{$prefix}-animation {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.#{$prefix}-running {
  .#{$prefix}-abort {
    display: initial;
  }

  .#{$prefix}-solve {
    display: none;
  }

  .#{$prefix}-loading {
    display: inline-block;
  }
}

@import '~minizinc-webide/src/styles/decorations';
