@import './vars';

// based on https://codepen.io/ashmind/pen/ogMPQp

.error-line-decoration {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 90%;
    width: 100%;
    height: 0.25em;
    background: linear-gradient(135deg, transparent, transparent 45%, $error, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, $error, transparent 55%, transparent 100%);
    background-size: 0.25em * 2 0.25em * 2;
    background-repeat: repeat-x, repeat-x;
  }
}

.error-glyph-decoration {
  border-radius: 50%;
  background: $error;
}
